.desktop {
  background-color: #4e4d4d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-wrapper {
  background-color: #4e4d4d;
  overflow: hidden;
  width: 1440px;
  height: 1227px;
}

.desktop .overlap {
  position: relative;
  width: 1497px;
  height: 1227px;
  left: -57px;
}

.desktop .bus-black-and-white {
  position: absolute;
  width: 1440px;
  height: 1227px;
  top: 0;
  left: 57px;
  object-fit: cover;
}

.desktop .navbar {
  position: absolute;
  width: 266px;
  height: 256px;
  top: 0;
  left: 81px;
  background-image: url(./img/track-b-logo-3-fotor-bg-remover-20230923103158-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .text {
  position: absolute;
  width: 699px;
  height: 197px;
  top: 1030px;
  left: 0;
}

.desktop .overlap-group {
  position: relative;
  width: 695px;
  height: 197px;
}

.desktop .text-wrapper {
  position: absolute;
  width: 695px;
  top: 0;
  left: 0;
  font-family: "Outfit", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 128px;
  text-align: center;
  letter-spacing: 0;
  line-height: 100px;
}

.desktop .div {
  position: absolute;
  width: 463px;
  top: 125px;
  left: 100px;
  font-family: "Kite One", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .track-your-bus-your {
  position: absolute;
  width: 532px;
  top: 1071px;
  left: 965px;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.desktop .login {
  position: absolute;
  width: 799px;
  height: 717px;
  top: 143px;
  left: 421px;
}

.desktop .overlap-2 {
  position: relative;
  width: 795px;
  height: 717px;
  background-color: #4e4d4dcc;
  border-radius: 76px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 613px;
  top: 77px;
  left: 96px;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 400;
  color: #deac2d;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.desktop .welcome-to-the-track {
  position: absolute;
  width: 675px;
  top: 141px;
  left: 60px;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 40px;
}

.desktop .span {
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #ffffff;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.desktop .text-wrapper-3 {
  font-weight: 700;
  text-decoration: underline;
}

.desktop .contact-us {
  position: absolute;
  width: 472px;
  top: 718px;
  left: 583px;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 99px;
  top: 142px;
  left: 1351px;
  font-family: "Roboto Flex", Helvetica;
  font-weight: 400;
  color: #f9f9f9;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
